<section class="aside">
  <h3 class="aside__title3">Insomnia tips</h3>

  <article class="aside__article">
    <h2 class="aside__article--title2">Looking through a widow</h2>
    <p class="aside__article--text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
  </article>

  <button class="aside__button" title="To Adalab">
    <a class="aside__button--link" href="#" title="To article">go</a>
  </button>
</section>
