<footer class="footer">
  <button class="footer__buttonArrow" title="To top">
    <a
      class="footer__buttonArrow--link"
      href="./index.html#hero"
      title="To top"
    >
      <img
        class="arrowImg"
        src="./assets/images/ico-arrow.svg"
        title="arrow to top"
        alt="arrow icon"
      />
    </a>
  </button>

  <nav class="footer__nav">
    <ul class="list more-menu">
      <include src="./footer-list-elements.html" text="articles"></include>
      <include src="./footer-list-elements.html" text="books"></include>
      <include src="./footer-list-elements.html" text="events"></include>
      <include src="./footer-list-elements.html" text="reasons"></include>
      <include src="./footer-list-elements.html" text="tips"></include>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul class="list social-menu">
      <include src="./footer-list-elements.html" text="Twitter"></include>
      <include src="./footer-list-elements.html" text="Instagram"></include>
      <include
        src="./footer-list-elements.html"
        text="Mastodon.Social"
      ></include>
    </ul>
  </nav>
  <div class="footer__container">
    <p clas="footer__container--copy">&copy;2022</p>
    <p class="footer__container--love">
      we <i class="fa-solid fa-heart"></i> components
    </p>
  </div>
</footer>
