<footer class="footer">
  <nav class="footer__nav">
    <ul class="flist more-menu">
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="articles"
      ></include>
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="books"
      ></include>
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="events"
      ></include>
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="reasons"
      ></include>
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="tips"
      ></include>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul class="flist social-menu">
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="Twitter"
      ></include>
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="Instagram"
      ></include>
      <include
        src="./footer-list-elements.html"
        url="https://adalab.es"
        title="Ir a Adalab"
        text="Mastodon.Social"
      ></include>
    </ul>
  </nav>
  <div class="footer__container">
    <p clas="footer__container--copy">&copy;2022</p>
    <p class="footer__container--love">
      We <i class="fa-solid fa-heart"></i> components
    </p>
  </div>
</footer>
