<section class="hero">
   <!--  <button class="hero__buttonMenu">
      <a
        class="hero__buttonMenu--link"
        href="https://adalab.es/."
        title="Ir a Adalab"
        target="_blank"
      >
        <img
          class="menu-icon"
          src="./assets/images/ico-menu.svg"
          title="Icono menú"
          alt="icono menú con barras"
        />
      </a>
    </button> -->
    <a
        class="hero__link"
        href="https://adalab.es/."
        title="Ir a Adalab"
        target="_blank"
      >
        <button 
          class="hero__link--buttonMenu"></button>
      </a>
    <h1 class="hero__title">Anonymous Proxy</h1>
    <p class="hero__text">In hac habitase platea dictumst.</p>

    <button class="hero__buttonArrow">
      <a
        class="hero__buttonArrow--link"
        href="https://adalab.es/."
        title="Ir a Adalab"
        target="_blank"
      >
        <img
          clas="arrow-icon"
          src="./assets/images/icon-arrow.svg"
          title="Ir a Reasons"
          alt="icono con flecha hacia abajo"
        >
    </img>
    </button>
  </section>