<section class="hero" id="hero">
  <a
    class="hero__buttonMenu"
    href="https://adalab.es/."
    title="To Adalab temporarily link"
    target="_blank"
  >
    <img
      class="hero__buttonMenu--menuImg"
      src="./assets/images/ico-menu.svg"
      title="menu"
      alt="menu icon"
    />
  </a>
  <h1 class="hero__title">Anonymous Proxy</h1>
  <p class="hero__text">In hac habitasse platea dictumst.</p>
  <a class="hero__buttonScroll" href="./index.html#reasons" title="To Reasons">
    <img
      class="hero__buttonScroll--scrollImg"
      src="./assets/images/ico-scroll-down.svg"
      title="To Reasons"
      alt="scroll-down icon"
  /></a>
</section>
