<section class="hero" id="hero">
  <button class="hero__buttonMenu" title="menu">
    <a
      class="hero__buttonMenu--link"
      href="https://adalab.es/."
      title="To Adalab"
      target="_blank"
    >
      <img
        class="menuImg"
        src="./assets/images/ico-menu.svg"
        title="menu"
        alt="menu icon"
      />
    </a>
  </button>

  <!--   <a
  class="Menu-link"
  href="https://adalab.es/."
  title="To Adalab"
  target="_blank"
>
  <button class="hero__buttonMenu" title="menu" alt="menu icon"></button>
</a> -->
  <h1 class="hero__title">Anonymous Proxy</h1>
  <p class="hero__text">In hac habitase platea dictumst.</p>

  <button class="hero__buttonScroll" title="To Reasons">
    <a
      class="hero__buttonScroll--link"
      href="./index.html#reasons"
      title="To Reasons"
    >
      <img
        class="scrollImg"
        src="./assets/images/ico-scroll-down.svg"
        title="To Reasons"
        alt="scroll-down icon"
    /></a>
  </button>
</section>
