<section class="reasons" id="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <include
    src="./reasons-article.html"
    title="Ud sed metus"
    text="Lorem ipsum dolor sit amet, consecteur."
  ></include>
  <include
    src="./reasons-article.html"
    title="Curabitur ac erat"
    text="Mauris mattis urna quis lorem molestie."
  ></include>
  <include
    src="./reasons-article.html"
    title="Morbi dictum"
    text="Aliquam in dolor et dolor tincidunt."
  ></include>
  <button
    class="reasons__button"
    onClick="window.open('https://adalab.es/');"
    title="click for More reasons"
  >
    More reasons
  </button>
</section>
