<section class="reasons" id="team">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <include
    src="./reasons-article.html"
    tittle="Ud sed metus"
    Text="Lorem ipsum dolor sit amet, consecteur."
  ></include>
  <include
    src="./reasons-article.html"
    tittle="Curabitur ac erat"
    Text="Mauris mattis urna quis lorem molestie."
  ></include>
  <include
    src="./reasons-article.html"
    tittle="Morbi dictum"
    Text="Aliquam in dolor et dolor tincidunt."
  ></include>
</section>
