.aside {
    background-color:$colorWhite;
    padding: 61.9px 15px 45px;
&__title3 {
    color:$colorInsomnia;
    text-transform: capitalize;
    font-size: rem(14);
    line-height: rem(30);
    text-transform: capitalize;
    vertical-align: text-top;
}
&__article {
    display:flex;
    flex-direction: column;
    gap:20px;
    &--title2 {
        font-size: rem(24);
        line-height: rem(30);
        font-family: $font-family-titles;
        font-weight: 700;
        text-transform: capitalize;
        }
    &--text {
    color:#4a4a4a;
    font-size: rem(18);
    line-height: rem(30);
        }
    } 
&__button {
    text-transform: capitalize;
    border: solid 2px $colorBotonIcon;
    border-radius: 22.5px;
    background-color:$colorWhite;
    margin-top: 26px;
    height:45px;
    width:76px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--link {
        color:$colorBotonIcon;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        font-size: rem(20);
        padding: 10px 25px;
       


    }
}  
}