.footer {
    background-color: $colorFooterBackground;
    color:$colorWhite;
    padding: 65px 15px 36px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media all and (min-width:768px){
        padding: 50px 39px 40px;
        }
    &__buttonArrow {
        background-color: $colorWhite;
        @include wh (45px,45px);
        border-radius: 50%;
        position:absolute;
        z-index: 1;
        top:-5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:5px;
        animation:shakeY;
        animation-duration: 1s;
        animation-iteration-count:2;
        &:hover {
            background-color:$colorInsomnia;
            }
        @media all and (min-width:768px){
            top: -10%;
            }
        &--arrowImg {
            height:24px;
            }
        }
    &__wrap {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
        width: 100%;
        @media all and (min-width:768px){
            flex-direction: row;  
            justify-content: space-between;
            align-items: flex-start;
            }
        @media all and (min-width:1200px){
            justify-content: center;
            }
        &--nav {
            text-transform: uppercase;
            text-align: center;
            @media all and (min-width:768px){
                text-align: left; 
                padding-right: 45px;
                }
            }
        &--container {
            margin-top: 2px;
            text-align: center;
            @include t (rem(14),rem(30));
            @media all and (min-width:768px){
                order: -1; 
                text-align: left;
                padding-right: 30px;
                margin-top: 0px;
                }
            }
        }
    }
.list__element--link {
    text-decoration: none;
    color:$colorWhite;
    @include t (rem(16),rem(30));
    padding:5px;
    &:hover {
        color:$colorBotonIcon;
    }
}

.fa-heart {
    color:$colorBotonIcon;
    transition: transform 2s;
    animation:bounce;
    animation-duration: 1.5s;
    &:hover {
        color:red;
        transform: rotate(720deg) scale(2);
    }
}
