.hero {
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:0px 3px 10px;
    justify-content: flex-end;
    /*color | image | repeat | attachment | position x y*/
    background: url(../images/cover.jpeg) no-repeat center;
    background-size: cover;
    color:$colorWhite;
    gap:20px;

    &__buttonMenu {
        background: $colorMenuIcon url(../images/ico-menu.svg) no-repeat 50% 60%;
        background-size: 13.5px auto; /*width heigh*/
        border: none;
        height:44px;
        width: 37.1px;
        position:fixed;
        left:0;
        top:-22px;
    }
    &__title {
        font-family: $font-family-titles;
        font-weight: 700;
        font-size: rem(42);
        word-spacing: 100vh;
        text-align: center;
        line-height: rem(55);
        text-transform: uppercase;
    }
    &__text {
        font-size: rem(16);
        line-height: rem(19);

    }
   &__buttonArrow {
    background: $colorWhite url(../images/ico-scroll-down.svg) no-repeat center center;
    background-color: white;
    height:37px;
    width: 37.9px;
    border-color: transparent;
    border-radius: 50%;
    margin:15.2px 0 24.1px;
   }
    } 


