.hero {
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:3px 3px 34.1px;
    justify-content: flex-end;
    /*color | image | repeat | attachment | position x y*/
    background: url(../images/cover.jpeg) no-repeat center;
    background-size: cover;
    color:$colorWhite;
    @media all and (min-width:768px){
        padding:3px 3px 45px;
        }
    @media all and (min-width:1200px){
        padding:3px 3px 13px;
        }
    &__buttonMenu {
        background-color:$colorMenuIcon;
        display:flex ;
        align-items: center;
        justify-content: center;
        border: none;
        &:hover {
            transform: scale(1.2);
            border:solid 3px #01335467;
        }
        @include wh (37.1px,44px);
        position:fixed;
        left:0;
        top:-22px;
        @media all and (min-width:768px){
            top:0;
            width: 41.6px;
        }
        @media all and (min-width:1200px){
            width: 44px;
        }
        &--link {
            padding:8px;
            transform: translate(0, 15%);
            @media all and (min-width:768px){
                transform: translate(0, 0);
            }
        }
    }
    &__title {
        font-family: $font-family-titles;
        font-weight: 700;
        @include t (rem(42),rem(55));
        word-spacing: 100vw;
        text-align: center;
        text-transform: uppercase;
        /*text-shadow : pxX pxY  blur color/opacidad20% */
        text-shadow:0 2px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 5.9px;
        @media all and (min-width:768px){
            @include t (rem(80),rem(106));
            }
        @media all and (min-width:1200px){
            @include t (rem(100),rem(132));
            margin-bottom: 0px;
            }
    }
    &__text {
        @include t (rem(16),rem(19));
        margin-bottom: 35.2px;
        @media all and (min-width:768px){
            @include t (rem(24),rem(28));
            max-width: 22ch;
            text-align: center;
            margin-bottom: 6px;
            }
        @media all and (min-width:1200px){
            margin-bottom: 34px;
            max-width: 100%;
            }

    }
   &__buttonScroll {
    background-color:$colorWhite;
    @include wh (37.9px,37px);
    border-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colorRange;
    animation-duration: 3s;
    animation-iteration-count: 1;
    &:hover {
        background-color:$colorFooterBackground;
    }
    @media all and (min-width:768px){
        @include wh (42.5px,45px);
        }
    &--link {
        padding:10px;
            @media all and (min-width:768px){
                padding:20px;
                }
            }
    } 
}
/*ICON IMAGES*/
.menuImg {
    width:13.5px ;
    @media all and (min-width:768px){
        @include wh (15.1px,14px);
    }
    @media all and (min-width:1200px){
        width: 16px;
    }
}
.scrollImg {
    @include wh (16.8px,9.6px);
    @media all and (min-width:768px){
        @include wh (18.9px,11.7px);
    }
}
