.hero {
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:0px 3px 10px;
    justify-content: flex-end;
    /*color | image | repeat | attachment | position x y*/
    background: url(../images/cover.jpeg) no-repeat center;
    background-size: cover;
    color:$colorWhite;
    gap:20px;

    &__buttonMenu {
        background-color:$colorMenuIcon;
        display:flex ;
        align-items: center;
        justify-content: center;
        border: none;
        height:44px;
        width: 37.1px;
        position:fixed;
        left:0;
        top:-22px;
        &--link {
            padding:10px;
            transform: translate(0, 17%);
        }
    }
    &__title {
        font-family: $font-family-titles;
        font-weight: 700;
        font-size: rem(42);
        word-spacing: 100vw;
        text-align: center;
        line-height: rem(55);
        text-transform: uppercase;
    }
    &__text {
        font-size: rem(16);
        line-height: rem(19);

    }
   &__buttonScroll {
    background-color:$colorWhite;
    height:37px;
    width: 37.9px;
    border-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15.2px 0 24.1px;
    &--link {
        padding:10px;
    }
   }
    } 

.scrollImg {
    width: 16.8px;
    height: 9.6px;
}
