.reasons {
    background-color: $colorReasons;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto auto auto auto auto;
    width: 100vw;
    padding: 29px 15px 60px;
    row-gap: 44px;
    justify-items: center;
    @media all and (min-width:768px){
        padding: 36px 35px 60px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:auto auto auto;
        row-gap: 38px;
        column-gap: 27.7px;
        }
    @media all and (min-width:1200px){
        padding: 61px 81px 60px;
        row-gap: 38px;
        column-gap: 26.2px;
        }
    &__title {
        font-family: $font-family-titles;
        font-weight: 700;
        text-transform: capitalize;
        font-size: rem(24);
        line-height: rem(30);
        margin-bottom: 5px;
        @media all and (min-width:768px){
            font-size: rem(26);
            line-height: rem(45);
            grid-column: span 3;
            }
        @media all and (min-width:1200px){
            font-size: rem(32);
            }
        } 
    &__article {
        text-align: center;
        margin:0 55px;
        @media all and (min-width:768px){
            margin:0;
            }
        &--title {
            font-family: $font-family-titles;
            font-weight: 700;
            font-size: rem(18);
            line-height: rem(30);
            margin-bottom: 1px;
            @media all and (min-width:768px){
                font-size: rem(24);
                margin-bottom: 18px;
                }
            }
        &--text {
            font-size: rem(18);
            line-height: rem(30);
            @media all and (min-width:768px){
                font-size: rem(20);
                }
            }
        }
    &__button {
        background-color: $colorBotonIcon;
        border: none;
        border-radius: 22.5px;
        height: 45px;
        width: 184px;
        margin-top: -3px;
        transition:width 1s, transform 2s;
        &:hover {
            transform:skewY(-4deg) scale(1.2);
            background-color: $colorFooterBackground;
         }
        @media all and (min-width:768px){
            width: 210px;
            grid-column: span 3;
            margin-top: 19px;
            }
        @media all and (min-width:1200px){
            width: 255px;
            margin-top: 14px;
            }
        &--link {
            text-decoration: none;
            color:$colorWhite;
            font-size: rem(20);
            line-height: rem(45);
            padding:10px 23px;
            @media all and (min-width:768px){
                padding:10px 35px;
                }
            @media all and (min-width:1200px){
                padding:10px 50px;
                text-transform: capitalize;
                }
        }
    }
}
