/* @import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
 */
 
 @import 'core/variables';
 @import 'core/reset';
 @import 'layout/hero';

 :root {
    font-family:$font-family;
 }